* {
  margin: 0px;
  padding: 0px;
}

header {
  padding: 20px;
  background-color: #6495ed;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  display: inline;
  margin: 0px 50px;
}
a:hover {
  background-color: #0000ff;
}
.button-apply {
  border: 1px;
  border-radius: 10px;
  font-size: 16px;
  font-family: sans serif;
  padding: 10px;
  background-color: #993399;
  color: white;
  text-transform: uppercase;
  underline: none;
  outline: none;
}

div {
  display: flex;
  justify-content: center;
}
